@model List<AttributeLinkViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create Link</a> |
    <a asp-action="DeleteLink">Delete Link</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Categories
            </th>
            <th>
                Attributes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @foreach (var cat in item.Categories)
                    {
                        @Html.Raw(cat.Name);
                        @Html.ActionLink(" Remove", "DeleteCategoryType", "AttributeLinks",
                        new
                             {
                            Id = cat.Id
                        });
                        @Html.Raw("<br />");
                    }
                </td>
                <td>
                    @foreach (var ca in item.Attributes)
                    {
                        @Html.Raw(ca.Title + "<br />");
                    }
                </td>
                <td>
                    <a asp-action="AddCategory" asp-route-id="@item.Type">Add Category</a>
                </td>
            </tr>
        }
    </tbody>
</table>
